.cartitems {
    margin: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.cartitems hr {
    height: 2px;
    background: #dcdcdc;
    border: none;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.7fr 2.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
}

.cartitems-format {
    font-size: 15px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 2px;
}

.cartitems-remove-icon {
    width: 20px;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.cartitems-remove-icon:hover {
    transform: scale(1.2);
}

.cartitems-quantity {
    width: 50px;
    height: 40px;
    border: 2px solid #d9d9d9;
    background: #fafafa;
    text-align: center;
    font-weight: 600;
    color: #333;
    border-radius: 5px;
    outline: none;
}

.cartitems-down {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
    padding-top: 20px;
    border-top: 2px solid #e2e2e2;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartitems-total h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #222;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

