.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: linear-gradient(180deg, #f0f4ff, #ffffff);
    margin-bottom: 50px;
    margin:auto /* Ensure there's enough space below */
}

.new-collections h1 {
    color: #171717;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-bottom: 40px;
}

.collections{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
}

.collections div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    max-width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.collecttions div:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.collections img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.collections img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
