.Offers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 100vh; */
    padding: 0 40px; /* Adjust padding as needed */
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    margin-bottom: 300px; 
    margin-top: 210px;/* Add spacing below to separate from the next section */
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; /* Add padding for better spacing */
}

.offers-left h1 {
    color: #171717;
    font-size: 3rem; /* Adjust for readability */
    font-weight: 600;
    margin: 0;
}

.offers-left p {
    color: #171717;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0;
}

.offers-left button {
    width: 280px;
    height: 70px;
    border-radius: 34px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.offers-left button:hover {
    background-color: #ff6161;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offers-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px; /* Rounded corners for better appearance */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
